
    <div style="text-align: center;">
        <h1>Doanh thu kinh doanh Shop</h1>
    </div>
    <hr>
<div style="padding: 20px;">


<div>
    <mat-form-field appearance="fill">
        <mat-label>Tháng</mat-label>
        <mat-select  [(ngModel)]="selected" (ngModelChange)="onGiaSelection()">
          <mat-option *ngFor="let item of Thang" [value]="item.value">
            {{ item.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button style="    margin-left: 20px;
      margin-bottom: 15px;" class="btn btn-md btn-outline-info" (click)="exportTable()">Export to Excel</button>

</div>

<table id="ExampleMaterialTable" mat-table [dataSource]="listDoanhThu" class="mat-elevation-z8" style="width: 100%;">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="donhang">
      <th mat-header-cell *matHeaderCellDef> Đơn hàng </th>
      <td mat-cell *matCellDef="let element"> {{element.Id_Donhang}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="thang">
      <th mat-header-cell *matHeaderCellDef> Tháng </th>
      <td mat-cell *matCellDef="let element"> {{element.Month}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="tien">
      <th mat-header-cell *matHeaderCellDef> Tiền </th>
      <td mat-cell *matCellDef="let element"> {{element.TongTien |number}} đ</td>
    </ng-container>
    <ng-container matColumnDef="ngay">
        <th mat-header-cell *matHeaderCellDef> Ngày </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at  | date:'dd/MM/yyyy hh:mm:aa'}}</td>
      </ng-container>
    <!-- Symbol Column -->
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div style="margin-top: 20px; font-size: 22px;">
    Tổng doanh thu :{{tongtien |number}} VNĐ
  </div>
</div>
  <hr>
  <div style="justify-content: center;
  display: flex;
  width: 100%;
">
      <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="single2"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>

  </div>
  
  