<app-notice   >
  <span>
      <div style="font-size: 18px;display: flex;">
        <div>
<img style="width: 200px;height: 150px;" src="../../../assets/gif/welcome.gif">
        </div>
        <div>

     
        <label style="font-size: 25px;font-weight: bold;">
          XIN CHÀO CÁC CẬU!
        </label> 
        <br>
        MANDO là thương hiệu thời trang nam dành cho giới trẻ theo phong cách Hàn Quốc. Được thành lập tới nay được 6 năm, MANDO đã và đang dần trở thành một người bạn gần gũi, tin cậy và đầy mới mẻ của giới trẻ Việt trong câu chuyện ăn mặc, với Fanpage Facebook đạt gần 450.000 lượt thích, group fan cứng hơn 18.000 thành viên, kênh Tiktok gần 250.000 lượt folllow.
      </div>
      </div>
   
    <!-- <code>Preview</code> button to preview the changes. -->
  </span>
</app-notice>
<!--begin::Card-->
<div class="card card-custom gutter-b" style="font-size: 17px;">
  <div class="card-header card-header-tabs-line">
    <div style="display: flex;flex-direction: column;padding-top: 10px;">

      <span>
        <mat-icon>grade</mat-icon><span style="font-weight: bold;">
          MANDO nổi bật với: 
        </span> 
      </span>
 
        <p>
          1. Sự đa dạng: Với đầy đủ các sản phẩm từ quần áo tới các loại phụ kiện từ đầu đến chân, với nhiều dòng sản phẩm đáp ứng được cả nhu cầu đi học, đi chơi, đi làm. 

        </p>
        <p>
        
          2. Sự mới mẻ: MANDO ra mắt các Bộ sưu tập sản phẩm mới liên tục trong tháng. 
        </p>
        <p>
        
          3. Giá cả hợp lý với chất lượng, phù hợp cho các bạn học sinh, sinh viên.


        </p>
        <div style="display: flex;justify-content: center;">
          <img src="../../../assets/images/infor/hinh1.webp">

        </div>
    
  </div>
  <br>
  <div>


    <div style="display: flex;flex-direction: column;">

      <span style="font-weight: bold;">
        CAM KẾT MUA HÀNG TẠI MANDO
      </span>
 
        <p>
          <mat-icon>done</mat-icon>
          Hỗ trợ đổi hàng trong 7 ngày

        </p>
        <p>
          <mat-icon>done</mat-icon>
          Giao hàng nhanh chóng, nhận hàng được kiểm tra hàng trước khi thanh toán

        </p>
        <p>
          <mat-icon>done</mat-icon>
          Có hình ảnh thật 100% giống mô tả 

        </p>

        <p>
          <mat-icon>done</mat-icon>
          Đặt hàng nhanh chóng, tư vấn nhiệt tình 


        </p>
    
    
  </div>
   
    
    
    
    
    
  </div>
  <br>
  <br>

    <br>
         
 
    <div>

        MỘT SỐ HÌNH ẢNH TẠI CỬA HÀNG
        <br>
        <img src="../../../assets/images/infor/hinh4.webp">
        <img src="../../../assets/images/infor/hinh3.webp">
<br>
<div style="padding-bottom: 20px;padding-top: 20px;">
  Các bạn tại Hà Nội có thể qua mua hàng tại 3 cơ sở của MANDO, ngoài ra có thể đặt hàng online tại Fanpage, website và các gian hàng chính thức của MANDO trên Shopee và Lazada.

</div>
   <div style="display: flex;">
    <img src="../../../assets/images/infor/hinh2.webp">
    <img src="../../../assets/images/infor/hinh6.webp">
   </div>



    <div  style="background-color: #ffffff;">


      <footer style="padding-top: 20px;">
        
          <div  class="container">
            <div class="row">
                  <div class="text-center   ">
                    <div class="footer-widget">
                      <img style="    width: 100px;" src="../../../../assets/media/logos/logoshop.png">
                            <h4 class="mb-4">Thời Trang Mando  </h4>
                            <p class="lead">Cửa hàng thời trang uy tín nhất, chất lượng cao, giá cả phải chăng. 
                            </p>
                          
                          <div class="">
                              <p class="mb-0"><strong>Địa điểm : </strong>Thành phố Kon Tum, Việt Nam</p>
                              <p><strong>Email: : </strong> tranvolam12345@gmail.com hoặc quocviet@gmail.com</p>
                          </div>
                    </div>
                  </div>
        
        
                  <div class="col-md-4 text-center text-sm-left">
                       <div class="footer-widget">
                      <h4 class="mb-4">Fanpage</h4>
                     <img src="../../../../assets/images/fan.png">
                          </div>
                  </div>
        
                  <div class="col-md-4 col-lg-3 col-sm-6 text-center text-sm-left">
                       <div class="footer-widget">
                      <h4 class="mb-4">Giờ mở cửa</h4>
                      <ul class="pl-0 list-unstyled mb-5"  style="font-size: 15px;">
                        <li class="d-lg-flex justify-content-between">Thứ hai - Thứ sáu <span>8:00-21:00</span></li>
                        <li class="d-lg-flex justify-content-between">Thứ bảy <span>10:00-21:00</span></li>
                        <li class="d-lg-flex justify-content-between">Chủ nhật <span>12:00-22:00</span></li>
                      </ul>
        
                      <h5>Điện thoại : 0764164951</h5>
                    </div>
                  </div>
               </div>
          </div>
        </footer>
        
        <hr>
        <div class="footer-btm py-4 ">
          <div class="container">
            <div class="row ">
                   <div class="col-lg-6">
                       <p class="copyright mb-0 ">@ Copyright 2023</p>
                   </div>
                   <div class="col-lg-6">
                        <ul class="list-inline mb-0 footer-btm-links text-lg-right mt-2 mt-lg-0">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms &amp; Conditions</a></li>
                        <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Sale</a></li>
                      </ul>
                   </div>
               </div>
          </div>
        </div>
      </div>
  </div>
  </div>

 
  <!--end::Form-->
</div>
<!--end::Card-->

