<style>

    input[type=text] {
          width: 280px;
          box-sizing: border-box;
          border: 1px solid #3e44f9b5;
          border-radius: 15px;
          font-size: 12px;
          background-color: white;
          /* background-image: url('./assets/search_icon.png'); */
          background-position: 10px 10px; 
          background-repeat: no-repeat;
          padding:7px 12px 7px 40px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
        }
        
        input[type=text]:focus {
          width: 480px;
          outline: none;
          border: 1px solid #3e44f9b5;
          background-color: white;
        }
      .fullname{
        display: flex;
        align-items: center;
        padding-left: 5px;
      }
     
    </style>
    
    
    <div class="card card-custom card-sticky gutter-b">
      <div class="card-header">
        <div class="card-title">
          <span class="card-label cssdanhsach" style="font-size: 20px;font-weight: bold;">Danh sách sản phẩm hết hàng</span>
         

        </div>
        <div class="card-toolbar">
      
            <form style="padding-right: 10px;">
            
              <span style="    display: flex;
              align-items: center;
              position: absolute;
              margin-top: 10px;
              margin-left: 10px;">
                  <mat-icon>search</mat-icon>
              </span>
              <input    (ngModelChange)="saverange($event)"  [(ngModel)]="searchtext"  type="text" name="search" placeholder="Tìm kiếm sản phẩm...">
            </form>
          </div>
 
      </div>
      <!-- body -->
      <div class="card-body">
        <div class="table-responsive angular-bootstrap-table" [ngStyle]="{ height: getHeight() }">
          <table class="table table-head-custom table-vertical-center overflow-hidden">
            <thead>
              <th >
                <span>Id Sản phẩm</span>
                <app-sort-icon
                  column="FullName"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <th>
                <span>Đơn giá</span>
                <app-sort-icon
                  column="tendangnhap"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <th >
                <span>Đơn giá gốc</span>
                <app-sort-icon
                  column="phongbanid"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <th >
                <span>Tên sản phẩm</span>
                <app-sort-icon
                  column="chucvuid"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <!-- <th >
                <span>Sale</span>
                <app-sort-icon
                  column="chucvuid"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th> -->
              <th >
                <span>Tồn kho</span>
                <app-sort-icon
                  column="chucvuid"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
            
              <th style="text-align: center;" >
                <span>Xóa sản phẩm</span>
                <app-sort-icon
                  column="tinhtrang"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <th style="text-align: center;" >
                <span>Cập nhật</span>
                <app-sort-icon
                  column="tinhtrang"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <!-- <th style="min-width: 100px; text-align: center">
                <span>nhân viên</span>
              </th> -->
            </thead>
            <tbody>
              <!-- <tr *ngFor="let r of service.items$ | async">
              <td>
                <div>
                  <span>{{ r.Fullname }}</span>
                </div>
              </td>
              </tr> -->
            <tr *ngFor="let r of product_services._itemsteamHetHang$ | async">
                <!-- <td>
                  <div class="pl-10" >
                    <div class="row" style="cursor: pointer">
                      <ngx-avatar [size]="40" src="{{ r.Avatar }}" *ngIf="r.Avatar"></ngx-avatar>
                      <ngx-avatar
                       
                        [size]="40"
                        [name]="r.Fullname.slice(0, 1)"
                        bgColor="{{ r.BgColor }}"
                        *ngIf="!r.Avatar"
                      ></ngx-avatar>
                      <span  class="cssfullname">
                        {{ r.Fullname }}
                      </span>
                    </div>
                  </div>
                
                </td> -->
                <td>
                  <div>
                    <span class="cssusername">{{ r.product_id }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="cssDepartment">{{ r.DonGia|number }} đ</span>
                  </div>
                </td>
                <td>
                  <span class="cssJobtitle">{{ r.DonGiaGoc|number }} đ</span>
                </td>
                <!-- <td>
                  <div *ngFor="let item of r.Product">
                      <span style="padding-bottom: 5px;">
                        {{item.product_name}}
                        <img  style="width: 50px;margin-bottom: 5px;" src="{{item.Img}}">
                      </span>
                  </div>
                
                </td> -->
                <td>
                  <span class="cssJobtitle">{{ r.product_name.slice(0,20) }}...</span>
                </td>
              
                <td>
                    <span class="cssJobtitle">{{ r.amount }}</span>
                  </td>
               
                <!-- <td style="text-align: center">
                  <mat-slide-toggle (click)="changeTinhTrang(r.Username)" [checked]="r.IsActive"> </mat-slide-toggle>
                </td> -->
                
                <!-- <td  style="text-align: center">
                  <mat-icon (click)="XacNhan(r)"  mat style="cursor: pointer; color: #1bc5bd; font-size: 16px" aria-hidden="false">
                    playlist_add</mat-icon
                  >
                    
                </td> -->

                <td  style="text-align: center">
                    <mat-icon (click)="RemoveSP(r.product_id)"  mat style="cursor: pointer; color: #c51b54; font-size: 16px" aria-hidden="false">
                        clear</mat-icon
                    >
                      
                  </td>
                  <td  style="text-align: center">
                    <mat-icon (click)="UpdateSp(r)"  mat style="cursor: pointer; color: #3199ed; font-size: 16px" aria-hidden="false">
                        update</mat-icon
                    >
                      
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end: Table -->
        <app-paginator
          class="d-flex justify-content-between align-items-center flex-wrap"
          [paginator]="paginator"
          [isLoading]="isLoading"
          (paginate)="paginate($event)"
        ></app-paginator>
      </div>
    </div>
    
    