<style>

    input[type=text] {
          width: 280px;
          box-sizing: border-box;
          border: 1px solid #3e44f9b5;
          border-radius: 15px;
          font-size: 12px;
          background-color: white;
          /* background-image: url('./assets/search_icon.png'); */
          background-position: 10px 10px; 
          background-repeat: no-repeat;
          padding:7px 12px 7px 40px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
        }
        
        input[type=text]:focus {
          width: 480px;
          outline: none;
          border: 1px solid #3e44f9b5;
          background-color: white;
        }
      .fullname{
        display: flex;
        align-items: center;
        padding-left: 5px;
      }
     
    </style>
    
    
    <div class="card card-custom card-sticky gutter-b">
      <div class="card-header">
        <div class="card-title">
          <span class="card-label cssdanhsach" style="font-size: 20px;font-weight: bold;">Danh sách sản phẩm bán chạy</span>
         

        </div>
        <div class="card-toolbar">
          <button (click)="AddSP()" style="margin-right: 20px;" mat-raised-button color="primary">
          <span style="color: black;">Thêm sản phẩm</span>
          </button>
            <form style="padding-right: 10px;">
            
              <span style="    display: flex;
              align-items: center;
              position: absolute;
              margin-top: 10px;
              margin-left: 10px;">
                  <mat-icon>search</mat-icon>
              </span>
              <input    (ngModelChange)="saverange($event)"  [(ngModel)]="searchtext"  type="text" name="search" placeholder="Tìm kiếm sản phẩm...">
            </form>
          </div>
 
      </div>
      <!-- body -->
      <div class="card-body">
        <div class="table-responsive angular-bootstrap-table" [ngStyle]="{ height: getHeight() }">
          <table class="table table-head-custom table-vertical-center overflow-hidden">
            <thead>
              <th >
                <span>Id Sản phẩm</span>
                <app-sort-icon
                  column="FullName"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
             
           
              <th >
                <span>Tên sản phẩm</span>
                <app-sort-icon
                  column="chucvuid"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <th >
                <span>Hình ảnh</span>
                <app-sort-icon
                  column="chucvuid"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
            
              <th >
                <span>Số lượng bán được </span>
                <app-sort-icon
                  column="chucvuid"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
            
          
              <!-- <th style="min-width: 100px; text-align: center">
                <span>nhân viên</span>
              </th> -->
            </thead>
            <tbody>
              <!-- <tr *ngFor="let r of service.items$ | async">
              <td>
                <div>
                  <span>{{ r.Fullname }}</span>
                </div>
              </td>
              </tr> -->
            <tr *ngFor="let r of product_services._itemschay$ | async" style="font-size: 20px;">
                <!-- <td>
                  <div class="pl-10" >
                    <div class="row" style="cursor: pointer">
                      <ngx-avatar [size]="40" src="{{ r.Avatar }}" *ngIf="r.Avatar"></ngx-avatar>
                      <ngx-avatar
                       
                        [size]="40"
                        [name]="r.Fullname.slice(0, 1)"
                        bgColor="{{ r.BgColor }}"
                        *ngIf="!r.Avatar"
                      ></ngx-avatar>
                      <span  class="cssfullname">
                        {{ r.Fullname }}
                      </span>
                    </div>
                  </div>
                
                </td> -->
                <td>
                  <div>
                    <span class="cssusername">{{ r.product_id }}</span>
                  </div>
                </td>
            
              
                <td>
                  <div *ngFor="let item of r.Product">
                      <span style="padding-bottom: 5px;">
                        {{item.product_name}}
                      </span>
                  </div>
                
                </td>
                <td>
                  <div *ngFor="let item of r.Product">
                    
                        <img  style="width: 50px;margin-bottom: 5px;" src="{{item.Img}}">
                  </div>
                
                </td>
                <td>
                    <div>
                      <span class="cssDepartment">{{ r.soluong }} </span>
                    </div>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end: Table -->
  
      </div>
    </div>
    
    