<style>

    input[type=text] {
          width: 280px;
          box-sizing: border-box;
          border: 1px solid #3e44f9b5;
          border-radius: 15px;
          font-size: 12px;
          background-color: white;
          /* background-image: url('./assets/search_icon.png'); */
          background-position: 10px 10px; 
          background-repeat: no-repeat;
          padding:7px 12px 7px 40px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
        }
        
        input[type=text]:focus {
          width: 480px;
          outline: none;
          border: 1px solid #3e44f9b5;
          background-color: white;
        }
      .fullname{
        display: flex;
        align-items: center;
        padding-left: 5px;
      }
     
    </style>
    
    
    <div class="card card-custom card-sticky gutter-b">
      <div class="card-header">
        <div class="card-title">
          <span class="card-label cssdanhsach" style="font-size: 20px;font-weight: bold;">Danh sách đơn hàng</span>
          <mat-form-field appearance="fill">
            <mat-label>Lọc đơn hàng</mat-label>
            <mat-select  [(ngModel)]="selected" (ngModelChange)="onGiaSelection()">
              <mat-option *ngFor="let item of Gia" [value]="item.value">
                {{ item.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="card-search">
          <!-- <app-jee-search-form (keywordEvent)="changeKeyword($event)" (filterEvent)="changeFilter($event)"></app-jee-search-form> -->
        </div>
 
      </div>
      <!-- body -->
      <div class="card-body">
        <div class="table-responsive angular-bootstrap-table" [ngStyle]="{ height: getHeight() }">
          <table class="table table-head-custom table-vertical-center overflow-hidden">
            <thead>
              <th >
                <span>Mã đơn hàng</span>
                <app-sort-icon
                  column="FullName"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <th>
                <span>Tên khách hàng</span>
                <app-sort-icon
                  column="tendangnhap"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <th >
                <span>Địa chỉ</span>
                <app-sort-icon
                  column="phongbanid"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <th >
                <span>Sản phẩm</span>
                <app-sort-icon
                  column="chucvuid"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <th >
                <span>Tổng giá</span>
                <app-sort-icon
                  column="chucvuid"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
             
              <th >
                <span>Tình trạng</span>
                <app-sort-icon
                  column="tinhtrang"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <th >
                <span>Action</span>
                <app-sort-icon
                  column="tinhtrang"
                  [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"
                  (sort)="sort($event)"
                ></app-sort-icon>
              </th>
              <!-- <th style="min-width: 100px; text-align: center">
                <span>nhân viên</span>
              </th> -->
            </thead>
            <tbody>
              <!-- <tr *ngFor="let r of service.items$ | async">
              <td>
                <div>
                  <span>{{ r.Fullname }}</span>
                </div>
              </td>
              </tr> -->
            <tr *ngFor="let r of product_services._itemsteamDonHang$ | async">
                <!-- <td>
                  <div class="pl-10" >
                    <div class="row" style="cursor: pointer">
                      <ngx-avatar [size]="40" src="{{ r.Avatar }}" *ngIf="r.Avatar"></ngx-avatar>
                      <ngx-avatar
                       
                        [size]="40"
                        [name]="r.Fullname.slice(0, 1)"
                        bgColor="{{ r.BgColor }}"
                        *ngIf="!r.Avatar"
                      ></ngx-avatar>
                      <span  class="cssfullname">
                        {{ r.Fullname }}
                      </span>
                    </div>
                  </div>
                
                </td> -->
                <td>
                  <div>
                    <span class="cssusername">{{ r.Id_Donhang }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="cssDepartment">{{ r.full_name }}</span>
                  </div>
                </td>
                <td>
                  <span class="cssJobtitle">{{ r.address }}</span>
                </td>
                <td>
                  <div *ngFor="let item of r.Product" style="    width: 200px;">
                      <span style="padding-bottom: 5px;">
                        {{item.product_name.slice(0,17)}} ... 
                        <img  style="width: 50px;margin-bottom: 5px;" src="{{item.Img}}">
                      </span>
                  </div>
                
                </td>
                <td>
                  <span class="cssJobtitle">{{ r.TongTien|number }}đ</span>
                </td>
                <td style="text-align: center;">
                  <span class="cssJobtitle" style="    background: aliceblue;
                  border-radius: 5px;
                  border: 1px solid lightgreen;">
                    <span style="padding: 10px;" *ngIf="r.status==1">Chờ xác nhận</span>
                    <span style="padding: 10px; color: blueviolet !important;" *ngIf="r.status==0" >Đã xác nhận</span>
                    <span style="padding: 10px; color: red;" *ngIf="r.status==null" >Từ chối </span>
                  </span>
                </td>
                <!-- <td style="text-align: center">
                  <mat-slide-toggle (click)="changeTinhTrang(r.Username)" [checked]="r.IsActive"> </mat-slide-toggle>
                </td> -->
                
                <td style="text-align: center">
                  <mat-icon (click)="XacNhan(r)"  mat style="cursor: pointer; color: #1bc5bd; font-size: 16px" aria-hidden="false">
                    settings</mat-icon
                  >
                    
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end: Table -->
        <app-paginator
          class="d-flex justify-content-between align-items-center flex-wrap"
          [paginator]="paginator"
          [isLoading]="isLoading"
          (paginate)="paginate($event)"
        ></app-paginator>
      </div>
    </div>
    
    